{% extends 'account/base.html' %}
{% block body %}
<body>
    <form method="POST">
        {% csrf_token %}
        <fieldset style="margin-left: 20px; margin-right: 20px;">
            <legend style="font-family: 'Oswald', sans-serif;">Change your Password.</legend>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Enter Password</label>
                <input type="password" class="form-control" name="password1" id="inputDefault" placeholder="Enter Password">
            </div>
            <div class="form-group">
                <label  class="col-form-label" for="exampleInputPassword1">Enter Password Again</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password2" placeholder="Enter Password Again">
            </div>
            <input type="submit" class="btn btn-primary" value="Submit">
        </fieldset>
    </form>
</body>
{% endblock %}